@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html[data-theme='violet'] {
    --background: 258 100% 93%;
    --foreground: 0 0% 13%;
    --primary: 270 100% 30%;
    --primary-foreground: 270 22% 96%;
    --secondary: 273 22% 90%;
    --secondary-foreground: 270 100% 30%;
    --card: 270 22% 96%;
    --card-secondary: 0 0% 100%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  input[type='date']::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: no-repeat;
    width: 20px;
    height: 20px;
    border-width: thin;
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
